@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: auto;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to bottom right, rgb(236, 236, 236), rgba(173, 173, 173, 0.8));
    /*display: flex;*/
    flex-direction: row;
}
p {
    text-indent: 15px;
    font-size: 17px;
    text-wrap: normal;
    line-height: 2rem;
    text-align: justify;

}
.tittle_h {
    text-align: center;
    margin: 30px 0;
    color: rgb(0, 0, 0);
    font-family: cursive;
}

.content-helytortenet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
}

.neve, .regeszet, .kozepkor, .templom, .iskola, .hiresemberek {
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(220, 220, 220));
    border-radius: 15px;
    margin: 0 auto 20px auto;
    padding: 35px;
    width: 60%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    /*border: 1px solid black;*/
}

.neve h2, .regeszet h2, .kozepkor h2, .templom h2, .iskola h2, .hiresemberek h2 {
    margin-bottom: 18px;
    text-align: center;
}

.neve img, .regeszet img, .kozepkor img, .templom img, .iskola img, .hiresemberek img {
    max-width: 100%;
    border-radius: 8px;
    margin: 20px auto;
    display: block;
}

.neve p, .regeszet p, .kozepkor p, .templom p, .iskola p, .hiresemberek p {
    margin-bottom: 5px;
}
.link-list {
    text-align: center;
    list-style-type: none;
    padding: 0;
}
.fade-in {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}


@media (max-width: 530px) {
    .neve, .regeszet, .kozepkor, .templom, .iskola, .hiresemberek {

        width: 100%;

    }
}
